body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 200px;
  padding: 10px;
}

.btn {
  display: block;
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

#icon-add {
  width: 50px;
  height: 50px;
}
.bookmark-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookmark-link {
  flex-grow: 1;
  margin-right: 10px;
}

.bookmark-content {
  display: flex;
  align-items: center;
}

.bookmark-number {
  margin-right: 10px; /* Adjust margin as needed */
}

.bookmark-link {
  flex-grow: 1;
  text-align: center;
  margin: 0 10px; /* Adjust margin as needed */
}

.deleteBookmark {
  margin-left: auto;
}
